= form_with(model: family, local: true) do |form|
  - if family.errors.any?
    #error_explanation
      %h2
        = pluralize(family.errors.count, "error")
        prohibited this family from being saved:
      %ul
        - family.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
