$christmas-green: #034f20;
$lighter-christmas-green: lighten($christmas-green, 5%);
$white: #ffffff;

// christmas tree animation
$size: 600px;
$leaf-color: #7DAE41;
$trunk-color: #855726;
$bg: #0C1E42;

$my-cubic-bezier: cubic-bezier(.17,.67,.83,.67);