@keyframes pulse
  0%
    color: $red
  50%
    color: $christmas-green
  100%
    color: $red

article.family
  width: 100%
  box-sizing: border-box

  h3
    display: flex
    align-items: center
    justify-content: space-between

    > a
      font-family: 'Satisfy', cursive
      transition: all 200ms ease

      &:hover
        animation: pulse 1s ease 200ms infinite
        background: none
        color: $red
        outline: none
        text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, 1px 1px 0 $white, -1px 1px 0 $white

    a
      margin: 0
      padding: 0
      font-size: 36px
      font-weight: 100
      text-decoration: none

    span a
      font-family: Arial, Helvetica, sans-serif
      font-size: 16px

  h4:not(:first-of-type)
    margin-top: 30px

  ul
    width: 100%
    list-style: square inside

  li, p
    line-height: 1.3

  .family-info
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .family-members
    width: 100%
    margin: 60px 0

.family-finished
  text-align: center

  .button
    margin-top: 30px