@import url('https://fonts.googleapis.com/css?family=Satisfy')

header h1
  padding-bottom: 20px

  &, a, a:visited
    color: $white
    font-size: 40px
    font-family: 'Satisfy', cursive
    text-align: center
    text-decoration: none
    margin: 20px 0px
    background: none

  a:hover
    background: none
    outline: none
